---
- name: Update package cache
  ansible.builtin.dnf:
    update_cache: true
    state: present

- name: Install general tools
  ansible.builtin.dnf:
    name:
      - git
      - vim
      - tar
      - amazon-cloudwatch-agent
      - acl
    state: present

- name: Replace curl-minimal with curl
  ansible.builtin.dnf:
    name:
      - curl
    allowerasing: true
    state: present

- name: Install Caddy server
  become: true
  ansible.builtin.import_role:
    name: papiro.infra.caddy
  vars:
    version: "{{ caddy_version }}"
    caddyfile_block: "{{ caddy_caddyfile_block }}"
